
USE H22_4D5_Projet_session
/****** INSERTS ******/
SET IDENTITY_INSERT [Utilisateurs].[Photographes] ON 
INSERT [Utilisateurs].[Photographes] ([photographeID], [nom]) VALUES (1, N'Vincent Guy')
INSERT [Utilisateurs].[Photographes] ([photographeID], [nom]) VALUES (2, N'Benjamin Desjardin')
INSERT [Utilisateurs].[Photographes] ([photographeID], [nom]) VALUES (5, N'Lara Lawetz')
SET IDENTITY_INSERT [Utilisateurs].[Photographes] OFF



SET IDENTITY_INSERT [Proprietes].[Propriete] ON 

INSERT [Proprietes].[Propriete] ([proprieteID], [adresse], [ville], [nomProprio], [telProprio] ) VALUES (24, N'943 Rue des Fuchsias', N'Sainte-Dorothée', N'Jean Dubu', N'5008150066')
INSERT [Proprietes].[Propriete] ([proprieteID], [adresse], [ville], [nomProprio], [telProprio]) VALUES (25, N'364 Rue Des Bremailles', N'Beauport', N'Marie Jean', N'5008880069')
INSERT [Proprietes].[Propriete] ([proprieteID], [adresse], [ville], [nomProprio], [telProprio]) VALUES (26, N'12828 Rue Berry', N'Pierrefonds', N'Florence Lebel', N'4006388006')
SET IDENTITY_INSERT [Proprietes].[Propriete] OFF


SET IDENTITY_INSERT [Disponibilites].[RendezVous] ON 


INSERT [Disponibilites].[RendezVous] ([rendezVousID], [dateRendezVous], [commentaire], [proprieteID], [heureDebut], [justification], [statutPhoto], [commentairePhotos]) VALUES (194, CAST(N'2021-05-27 00:00:00.0000000' AS DateTime2), N'Toutes les pièces', 45, CAST(N'16:45:00' AS Time), NULL, N'En attente', NULL)
SET IDENTITY_INSERT [Disponibilites].[RendezVous] OFF

SET IDENTITY_INSERT [Disponibilites].[Disponibilite] ON 

INSERT [Disponibilites].[Disponibilite] ([disponibiliteID], [dateDisponibilite], [photographeID], [heureDebut], [rendezVousID], [statut]) VALUES (128, CAST(N'2021-05-25 00:00:00.0000000' AS DateTime2), 1, CAST(N'10:30:00' AS Time), NULL, N'Libre')
INSERT [Disponibilites].[Disponibilite] ([disponibiliteID], [dateDisponibilite], [photographeID], [heureDebut], [rendezVousID], [statut]) VALUES (129, CAST(N'2021-05-26 00:00:00.0000000' AS DateTime2), 2, CAST(N'14:15:00' AS Time), NULL, N'Libre')
INSERT [Disponibilites].[Disponibilite] ([disponibiliteID], [dateDisponibilite], [photographeID], [heureDebut], [rendezVousID], [statut]) VALUES (130, CAST(N'2021-04-26 00:00:00.0000000' AS DateTime2), 6, CAST(N'15:30:00' AS Time), NULL, N'Libre')
SET IDENTITY_INSERT [Disponibilites].[Disponibilite] OFF



SET IDENTITY_INSERT [Photos].[Photo] ON 
INSERT [Photos].[Photo] ([photoID], [nom], [rendezVousID]) VALUES (352, N'194_Arrière.jpg', 194)
INSERT [Photos].[Photo] ([photoID], [nom], [rendezVousID]) VALUES (357, N'194_ChambreDeBain.jpg', 194)
INSERT [Photos].[Photo] ([photoID], [nom], [rendezVousID]) VALUES (358, N'194_ChambreDeBain2.jpg', 194)
SET IDENTITY_INSERT [Photos].[Photo] OFF







/****** Object:  Index [UC_photographe_date_heure]    ******/

/****** TODO Object:  Procédure stockée Disponibilité libres photographe  ******/

GO
CREATE PROCEDURE usp_getDispoPhotographe
@dateDebut datetime2,
@dateFin datetime2,
@photographID int
AS
BEGIN
SELECT * FROM [Disponibilites].[Disponibilite] d
WHERE d.dateDisponibilite BETWEEN @dateDebut AND @dateFin AND statut = 'Libre' AND d.photographeID = @photographID;

END

GO

/****** TODO Object:  Procédure stockée Rendez-vous   ******/
GO
CREATE PROCEDURE usp_getRdvPhotographe
@dateDebut datetime2,
@dateFin datetime2,
@photographID int
AS
BEGIN
SELECT r.* FROM [Disponibilites].[RendezVous] r
INNER JOIN Disponibilites.Disponibilite d
ON r.rendezVousID = d.rendezVousID
WHERE d.dateDisponibilite BETWEEN @dateDebut AND @dateFin 
AND d.statut!='Libre'
AND d.photographeID = @photographID


END

GO

/****** TODO Interrogation: procédure stockée   ******/

EXECUTE usp_getDispoPhotographe '2021-05-25','2021-05-30',1
EXECUTE usp_getRDVphotographe '2021-05-25','2021-05-30',1


/****** TODO Object:  Trigger trg_acceptRV    ******/

--GO
--    CREATE TRIGGER trg_acceptRV
--	ON [Disponibilites].[Disponibilite]
--	AFTER UPDATE 
--	AS 
--	BEGIN

--	UPDATE [Disponibilites].[Disponibilite] 
--	SET statut = 'Occupé' 
--	WHERE  rendezVousID IS NOT NULL
	
--	END
--	GO




/****** TODO Object:  Trigger trg_addDispo     ******/



/****** TODO Object:  Trigger trg_addRendezVous   ******/

		GO
    CREATE TRIGGER trg_addRendezVous
	ON [Disponibilites].[RendezVous]
	AFTER INSERT 
	AS 
	BEGIN

	DEClARE @rdvID int
	DECLARE @dateRDV datetime2
	DECLARE @hDebut time
	SELECT @rdvID = rendezVousID from inserted
	SELECT @dateRDV = dateRendezVous from inserted
	SELECT @hDebut = heureDebut from inserted
	UPDATE [Disponibilites].[Disponibilite]
	SET rendezVousID = @rdvID, statut = 'À confirmer'
	WHERE dateDisponibilite = @dateRDV AND heureDebut = @hDebut
	
	
	END
	GO




/****** TODO Object:  Trigger trg_deleteRDV    ******/


	GO
    CREATE TRIGGER trg_deleteRDV
	ON [Disponibilites].[RendezVous]
	AFTER DELETE 
	AS 
	BEGIN

	DEClARE @rdvID int
	DECLARE @dateRDV datetime2
	DECLARE @hDebut time
	SELECT @rdvID = rendezVousID from deleted
	SELECT @dateRDV = dateRendezVous from deleted
	SELECT @hDebut = heureDebut from deleted
	UPDATE [Disponibilites].[Disponibilite]
	SET rendezVousID = NULL, statut = 'Libre'
	WHERE dateDisponibilite = @dateRDV AND heureDebut = @hDebut
	
	END
	GO


	SET IDENTITY_INSERT [Disponibilites].[RendezVous] ON 
INSERT [Disponibilites].[RendezVous] ([rendezVousID], [dateRendezVous], [commentaire], [proprieteID], [heureDebut], [justification], [statutPhoto], [commentairePhotos]) VALUES (197, CAST(N'2021-04-27 00:00:00.0000000' AS DateTime2), N'Toutes les pièces', 45, CAST(N'19:15:00' AS Time), NULL, N'En attente', NULL)
SET IDENTITY_INSERT [Disponibilites].[RendezVous] OFF

	DELETE FROM [Disponibilites].[RendezVous] WHERE rendezVousID=197;

/****** TODO Object:  Trigger trg_AjoutPhoto    ******/



	GO
    CREATE TRIGGER trg_AjoutPhoto
	ON [Photos].[Photo]
	AFTER INSERT 
	AS 
	BEGIN

	DEClARE @rdvID int
	DECLARE @dateRDV datetime2
	DECLARE @hDebut time
	SELECT @rdvID = rendezVousID from inserted

	UPDATE [Disponibilites].[Disponibilite]
	SET statut = 'Complété'
	WHERE rendezVousID = @rdvID
	
	
	END
	GO


